@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');
.section2 {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(29, 28, 29, 0);

  }
  
  .section2:before {
    content: '';
    position: absolute;
    background: url('../../assets/bg3.png') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -7;
    opacity: .08;
  }

.section2-content {
    display: flex;
    padding-bottom: 5rem;
}

.section2-content-right {
    width: 550px;
    text-align: center;
    padding: 1rem ;
    margin: auto;
}

.section2-content-right img {
    width: 100%;
}

.section2-content-left {
    width: 50%;
    margin: auto;
    padding: 1rem;
}

.section2-content-left p {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text);
    font-size: 16px;
}

.section2-content-left h1 {
    font-size: 1rem;
    padding: 1rem 0;
    text-transform: uppercase;
}



@media screen and (max-width:940px) {
    .section2-content-right {
        width: 90%;
    }

    .section2-content-left {
        width: 90%;
    }

    .section2-content {
        flex-wrap: wrap-reverse;
    }

    .section2-content-left h1 {
        text-align: center;
    }
}

