.section1 {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(29, 28, 29, 0);
  }
  
  .section1:before {
    content: '';
    position: absolute;
    background: url('../../assets/bg4.png') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .08;
  }



.section1-content {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 3rem 1rem;
}


.section1-left {
    width: 550px;
    margin: auto;
}

.section1-left img {
    width: 100%;
    height: auto;
}

.section1-right {
    width: 50%;
    margin: auto;
}


.section1-right h1 {
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1rem 0;
}


.section1-right p {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text);
    font-size: 16px;
}


.section1-btn {
    text-align: center;    
}

.section1-btn button {
    background-color: rgb(153, 210, 233);
    font-size: 12px;
    text-transform: uppercase;
}


@media screen and (max-width:940px)  {

    .section1-content {
        flex-wrap: wrap;
    }
    

    .section1-right {
        width: 90%;
    }
    
    .section1-right h1 {
        text-align: center;
    }
    
}

